@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  background: #F2F2F2;
  font-family: 'Open Sans', sans-serif; }

a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.navbar.navbar-default {
  background: #363636; }

.jumbotron {
  margin-top: 51px;
  background: #FFFFFF;
  border-bottom: 1px solid #dadada; }

.wrapper {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #dadada;
  background: #FFFFFF;
  overflow: hidden;
  clear: both; }
  .wrapper h1 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    padding-top: 5px;
    padding-bottom: 15px;
    color: #444;
    border-color: transparent;
    border-bottom: 5px solid #DA4453; }
  .wrapper h3 {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    padding-top: 5px;
    color: #444; }

.widget {
  overflow: hidden; }
  .widget .wrapper {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }

.list-group {
  clear: both;
  margin-bottom: 0; }
  .list-group .list-group-item {
    padding: 5px 0;
    margin: 0;
    border: none;
    border-bottom: 1px solid #F2F2F2;
    overflow: hidden;
    clear: both; }
    .list-group .list-group-item .manga-data {
      overflow: hidden;
      padding: 0 5px; }
      .list-group .list-group-item .manga-data .manga-name a {
        color: #DA4453; }
    .list-group .list-group-item .img-thumb-wrap {
      width: 36px;
      height: 36px;
      float: left;
      margin-top: 4px;
      overflow: hidden;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
      .list-group .list-group-item .img-thumb-wrap img {
        width: 100%; }
  .list-group .list-group-item:last-child {
    border: none; }
  .list-group .manga-chapters {
    border-left: 5px solid #ecf0f1;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden; }
    .list-group .manga-chapters a {
      color: #666;
      font-size: 12px;
      line-height: 20px;
      text-decoration: none; }
    .list-group .manga-chapters a:hover {
      color: #DA4453; }
    .list-group .manga-chapters .date {
      padding-right: 5px;
      margin-right: 5px;
      border-right: 1px solid #dadada; }
    .list-group .manga-chapters .title {
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 21px;
      overflow: hidden; }
    .list-group .manga-chapters .opt {
      font-size: 12px;
      line-height: 21px;
      color: #666; }
      .list-group .manga-chapters .opt .ratings {
        color: #DA4453; }
  .list-group .manga-chapters:hover {
    border-left: 5px solid #DA4453;
    background: #f7f7f7; }

.btn-more {
  background: #333;
  border-radius: 1px;
  color: #eee;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 16px;
  margin-bottom: 20px;
  border: 1px solid #DADADA; }

.btn-more:hover {
  background-color: #DA4453;
  color: #fff; }

.footer-area {
  background-color: #313233;
  color: #999;
  margin-top: 20px; }
  .footer-area footer {
    background-color: #1F1F1F;
    padding: 10px 0;
    border-top: 1px solid #3A3A3A;
    color: #DADADA; }

@media (max-width: 767px) {
  .list-group .manga-chapters .title {
    width: 90%; } }
@media (min-width: 768px) {
  .list-group .manga-chapters .title {
    width: 400px; } }
@media (min-width: 992px) {
  .list-group .manga-chapters .title {
    width: 300px; } }
@media (min-width: 1200px) {
  .list-group .manga-chapters .title {
    width: 400px; } }

/*# sourceMappingURL=custom.css.map */
