@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  background: #F2F2F2;
  font-family: 'Open Sans', sans-serif; }

a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.navbar {
  border-bottom: 5px solid #DA4453; }

.navbar.navbar-default {
  background: #363636; }

.navbar-brand span {
  color: #DA4453; }

.index-jumbotron {
  margin-top: 51px;
  margin-bottom: 0;
  background: #DA4453; }
  .index-jumbotron .thumbnail {
    position: relative;
    top: 0;
    margin-bottom: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .index-jumbotron .thumbnail .img-wrap {
      overflow: hidden; }
      .index-jumbotron .thumbnail .img-wrap img {
        width: 100%;
        max-width: 100%; }
  .index-jumbotron .thumbnail:hover {
    top: -10px; }
    .index-jumbotron .thumbnail:hover .img-wrap img {
      opacity: 0.7;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }

.intro {
  padding: 30px 0;
  margin-bottom: 30px;
  background: #FFFFFF;
  border-bottom: 1px solid #dadada; }

.wrapper {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #dadada;
  background: #FFFFFF;
  overflow: hidden;
  clear: both; }
  .wrapper .section-header {
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-color: transparent;
    border-bottom: 5px solid #DA4453;
    overflow: hidden; }
    .wrapper .section-header h1 {
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: 28px;
      line-height: 40px;
      color: #444; }
    .wrapper .section-header .btn-layout-view {
      margin-top: 11px; }
  .wrapper aside h3 {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    padding-top: 5px;
    padding-bottom: 9px;
    color: #444; }

.widget {
  overflow: hidden; }
  .widget .wrapper {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }

.list-group {
  clear: both;
  margin-bottom: 0; }
  .list-group .list-group-item {
    padding: 5px 0;
    margin: 0;
    border: none;
    border-bottom: 1px solid #F2F2F2;
    overflow: hidden;
    clear: both; }
    .list-group .list-group-item .manga-data {
      overflow: hidden; }
    .list-group .list-group-item .manga-name {
      line-height: 20px;
      height: 20px; }
      .list-group .list-group-item .manga-name a {
        color: #DA4453;
        font-weight: bold; }
      .list-group .list-group-item .manga-name a:hover {
        color: #fda2ab; }
    .list-group .list-group-item .img-thumb-wrap {
      width: 36px;
      height: 40px;
      float: left;
      margin-top: 4px;
      margin-right: 5px;
      overflow: hidden;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
      .list-group .list-group-item .img-thumb-wrap a:hover {
        opacity: 0.5; }
      .list-group .list-group-item .img-thumb-wrap img {
        width: 100%; }
  .list-group .list-group-item:last-child {
    border: none; }
  .list-group .manga-chapters {
    border-left: 5px solid #ecf0f1;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    line-height: 20px;
    height: 20px; }
    .list-group .manga-chapters a {
      color: #666;
      font-size: 12px;
      text-decoration: none; }
    .list-group .manga-chapters a:hover {
      color: #ec808b; }
    .list-group .manga-chapters .title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .list-group .manga-chapters .opt {
      font-size: 12px;
      color: #666; }
      .list-group .manga-chapters .opt .date,
      .list-group .manga-chapters .opt .ratings {
        float: left; }
      .list-group .manga-chapters .opt .ratings {
        padding-left: 5px;
        margin-left: 5px;
        border-left: 1px solid #F2F2F2;
        color: #DA4453; }
  .list-group .manga-chapters:hover {
    border-left: 5px solid #DA4453;
    background: #f7f7f7; }

.grid-group {
  clear: both;
  overflow: hidden;
  margin-left: -4px;
  margin-right: -4px; }
  .grid-group .grid-group-item {
    padding: 4px; }
    .grid-group .grid-group-item .border-box {
      border: 1px solid #ccc; }
    .grid-group .grid-group-item .img-wrap {
      margin: 4px;
      height: auto;
      position: relative;
      overflow: hidden;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .grid-group .grid-group-item .img-wrap a {
        display: block; }
        .grid-group .grid-group-item .img-wrap a img {
          width: 100%; }
    .grid-group .grid-group-item .manga-data {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 5px;
      background: rgba(0, 0, 0, 0.8); }
      .grid-group .grid-group-item .manga-data a {
        color: #fff;
        font-size: 12px; }
    .grid-group .grid-group-item .release-date {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.4);
      width: 116px;
      position: absolute;
      top: 4px;
      left: 50%;
      margin-left: -58px;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      padding: 2px 8px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px; }
    .grid-group .grid-group-item .manga-name a {
      font-weight: bold;
      font-size: 14px;
      color: gold; }
    .grid-group .grid-group-item .manga-name a:hover span {
      text-decoration: underline; }
    .grid-group .grid-group-item .manga-chapters a:hover * {
      text-decoration: underline; }
    .grid-group .grid-group-item .img-wrap:hover > a {
      opacity: 0.5; }
    .grid-group .grid-group-item .img-wrap:hover .manga-data {
      background: black;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .grid-group .grid-group-item .img-wrap:hover .release-date {
      background-color: rgba(0, 0, 0, 0.7);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
  .grid-group .ellip-line {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 100%; }

aside.popular-manga .list-group-item .img-thumb-wrap {
  margin-top: 0;
  margin-right: 10px; }
aside.popular-manga .list-group-item .manga-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 40px;
  height: 40px; }
  aside.popular-manga .list-group-item .manga-name a {
    font-size: 12px;
    font-weight: bold; }

aside.popular-manga-chapter .list-group-item .img-thumb-wrap {
  margin-top: 0;
  margin-right: 10px; }
aside.popular-manga-chapter .list-group-item .manga-name,
aside.popular-manga-chapter .list-group-item .manga-chapters {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  aside.popular-manga-chapter .list-group-item .manga-name a,
  aside.popular-manga-chapter .list-group-item .manga-chapters a {
    font-size: 12px; }
aside.popular-manga-chapter .list-group-item .manga-name a {
  font-weight: bold; }

.btn-more {
  background: #333;
  border-radius: 1px;
  color: #eee;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 16px;
  margin-bottom: 20px;
  border: 1px solid #DADADA; }

.btn-more:hover {
  background-color: #DA4453;
  color: #fff; }

.footer-area {
  background-color: #313233;
  color: #999;
  margin-top: 20px; }
  .footer-area footer {
    background-color: #1F1F1F;
    padding: 10px 0;
    border-top: 1px solid #3A3A3A;
    color: #DADADA; }

@media (max-width: 767px) and (max-width: 767px) {
  .list-group .manga-chapters .title {
    width: 98%; }

  .index-jumbotron {
    padding-top: 0;
    padding-bottom: 0; } }
@media (min-width: 768px) and (max-width: 991px) {
  .list-group .manga-chapters .title {
    width: 400px; }

  .grid-group .grid-group-item .img-wrap {
    height: 229px; }

  .nav > li > a {
    padding-left: 12px;
    padding-right: 12px; }

  .index-jumbotron {
    padding-top: 0;
    padding-bottom: 0; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .list-group .manga-chapters .title {
    width: 300px; }

  .grid-group .grid-group-item .img-wrap {
    height: 264px; }

  .index-jumbotron .thumbnail .img-wrap {
    height: 162px; } }
@media (min-width: 1200px) {
  .list-group .manga-chapters .title {
    width: 400px; }

  .grid-group .grid-group-item .img-wrap {
    height: 240px; }

  .index-jumbotron .thumbnail .img-wrap {
    height: 207px; } }

/*# sourceMappingURL=custom.css.map */
